.main_connexion {
    background: white url(../images/logo_small.svg) right top no-repeat;
    background-size: contain;
    padding: 80px 20px 20px;
    margin-top: 120px;
}

@media only screen and (max-width : 992px) {
    .main_connexion {
        background: white;
        margin-top: 30px;
    }
}

.currentUser {
	color: red;
	font-weight: bold;
}

.notCurrentUser{
	font-weight: normal;
}

.teamName {
    margin-top: 20px;
}

.scoreInput {
    font-size: 20.63px;
    font-weight: 500;
    border-radius: 4px;
    margin-top: 20px;
	text-align: center;
}

.realScoreGood{
	color : green;
}

.realScoreBad{
	color : red;
}

.gameWell {
    padding: 3px;
    margin-bottom: 5px;
}

.info-block {
    font-style: italic;
    color: #505050;
}

#tab-groups .nav-link {
    font-size: 20px;
}

.content {

}